.main-content {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.sidebar {
    grid-area: 1 / 1 / 2 / 2;
}

.sidebar-top {
    position: absolute;
    top: 0;
}

.sidebar-bottom {
    position: absolute;
    bottom: 0;
}

.selected-component {
    grid-area: 1 / 2 / 2 / 3;
    margin: 10px 0 0 10px;
    text-align: left;
    justify-content: left;
}

.center-component {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}