.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.form-container-med {
    width: 320px;
}

.form-container-med > * {
    margin: 5px 0
}